/*.debhelper.log
/*.substvars
/.debhelper/
/Doxyfile
/autoreconf.after
/autoreconf.before
/build-tests/
/debhelper-build-stamp
/examples.tar.gz
/files
/libsdl2-2.0-0/
/libsdl2-dev/
/libsdl2-doc/
/libsdl2-tests/
/tmp/
